:root {
  --bg-color: #dadbf1;
  --primary-color: #fff;
  --main-color: #000000;
  --link-color: #4c5fd5;
  --primary-ff: "Inter", serif;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: var(--primary-ff);
}

a,button:hover{
  cursor: pointer;
}

a:hover{
  text-decoration: underline;
}

header a{
  color: var(--primary-color);
}

header a, header a:hover{
  text-decoration: none;
}


.main {
  max-width: 80rem;
}

header {
  width: 100%;
  height: 5rem;
  background-color: var(--main-color);
  color: var(--primary-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 5rem;
}

header h3 {
  font-weight: 500;
}

.right-nav {
  height: 40px;
  width: 23%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.submit-button {
  height: 100%;
  width: 62%;
  border: 1px solid white;
  border-radius: 5px;
  background-color: transparent;
  color: var(--primary-color);
  font-family: var(--primary-ff);
  font-size: 15px;
}

.sign-in-button {
  height: 100%;
  width: 34%;
  border: none;
  border-radius: 5px;
  color: var(--primary-color);
  background-color: var(--link-color);
  font-family: var(--primary-ff);
  font-size: 15px;
}

.questions-search {
  width: 100%;
  height: 25rem;
  background-color: var(--bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-content {
  width: 43%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.search-content h1 {
  font-weight: 500;
  font-size: 3rem;
  margin: 20px 0px;
}

.search-content input {
  width: 100%;
  height: 13%;
  border-width: 1px;
  border-radius: 4px;
  padding-left: 10px;
  font-family: var(--primary-ff);
  font-size: 1rem;
}

.search-content button {
  height: 9%;
  width: 6%;
  position: absolute;
  right: 0.8rem;
  bottom: 8.313rem;
  background-image: url("/images/bx-right-arrow-alt.svg");
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  background-size: cover;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 80%;
  width: 75%;
}

.grid {
  height: 75%;
  width: 25rem;
  display: flex;
  justify-content: space-evenly;
  margin: auto;
}

.grid img {
  height: 5rem;
  margin-top: 1.5rem;
}

.content {
  height: 100%;
  width: 65%;
}

.content span {
  font-size: 20px;
}

.content a {
  display: block;
  color: var(--link-color);
}

.content-text {
  font-size: 18px;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.grid-container-main {
  width: 100%;
  height: 65rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-info {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  height: 15rem;
}

footer{
  height: 23rem;
  background-color: var(--main-color);
  color: var(--primary-color);
  display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.links {
  display: flex;
  flex-direction: column;
  font-size: 15px;
  justify-content: space-around;
  height: 15%;
}

.column{
  margin:0 auto;
}

footer span{
  display: flex;
  justify-content: center;
}

footer a{
  padding: 5px;
}
